<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <script src="/social-share/share.min.js"></script>
    <script src="/bootbox/bootbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log('document ready');
            $('input[name=optionsRadios]:radio').change(function () {
                if ($("input:radio[name='optionsRadios']:checked").val() == 'custom') {
                    $("#customOption").removeAttr("disabled");
                } else {
                     $("#customOption").attr("disabled","disabled");
                }
                
            });
            
            Share.init($('#share-twitter'), {
                title: 'share it',
                url: window.location.href
            });
            
            var frm = $('#voteForm');
            frm.submit(function (ev) {
                ev.preventDefault();
                
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'), 
                    data: frm.serialize(),
                    success: function(msg){
                        location.reload();
                    },
                    error: function(msg){
                        alert(msg.responseText);
                    }
        
                });
            });
            
            // $('#delete-btn').click(function() {
            //     bootbox.confirm("Are you sure want to delete?", function(result) {
            //       alert("Confirm result: " + result);
            //     });
            // });
        
        })
    </script>
</head>
<body  class="container">
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
        <div class = "jumbotron row">
            <div class = "col-sm-4" style="background-color:white;">
                <form id='voteForm' action="/voteforpoll" method="POST" data-toggle="validator">
                        <label><%= poll?poll.topic:"" %></label>
                        <p>vote for:</p>
                        <% for(var i=0; i < poll.optionList.length; i++) { %>
                            <div class="radio">
                              <label>
                                <input type="radio" required name="optionsRadios" value="<%= poll.optionList[i].optionName %>">
                                    <%= poll.optionList[i].optionName %>
                              </label>
                            </div>
                        <% } %>
                        <% if(user) { %>
                            <div class = "radio">
                                <label>
                                    <input type="radio" id="custom" name="optionsRadios" value="custom">
                                        Other:
                                </label>
                            </div>    
                            <input type="text" id="customOption" required class="form-control" name="customOption" disabled="disabled">
                                   
                        <% } %>
                        <input type="text" id='pollId' class="form-control" name="pollId" value="<%= poll._id %>" style="display: none;">
                        <button id="submit_voteform" class="btn btn-warning">Submmit</button>
                    
                </form>
                <% if(user) { %>
                    <a class='btn btn-info right' id='share-twitter' data-service="twitter" data-title="I'm inviting you to voting for <%= poll.topic %>">
                        Share to Twitter
                    </a> 
                    
                <% } %>
            </div>
            
            <div class = "col-sm-6" id="pie_chart" >
                <% include ../partials/chart.ejs %>
                <% if(user && user.twitter.username == poll.createdByUser) { %>
                    <form action="/deletepoll", method="post" onsubmit="return confirm('Are you sure to delete this poll?');">
                        <button type="submit" id='delete-btn' class="btn btn-danger right" name="pollId" value="<%= poll._id %>">Delete this Poll</button>
                    </form>    
                <% } %>
            </div>
            
        </div>    
    </main>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>